
.container{
    height:350px;
    width: 400px;
    background-color:rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1%;
    border-radius: 10px;
    opacity: 75%;
}

.bar1{
    width: 250px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid rgb(226, 226, 226);
    margin-top: 10px;
}

.bar2{

    width: 250px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid rgb(226, 226, 226);
    margin-top: 6px;
}

input::placeholder{
    opacity: 75%;
}

.box1{
    height: 40px;
    background-color:rgb(238, 237, 237);
    display: flex;
    align-items: center;
    position: relative;
}
.text1{
    margin-top: -20px;
    opacity: 50%;
}

.sninbtn{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgb(244, 244, 244);
    color: rgb(18, 90, 90);
    background-color: rgb(88, 218, 194);
}
.box1{
    background-color:rgb(232, 232, 232) ;
    width: 250px;
    bottom: 15px;
}
.text2{
    opacity: 50%;
    margin-right: 20px;
}
.snupbtn{
     height: 35px;
    width: 75px;
    border-radius: 5px;
    border: 2px solid rgb(88, 218, 194);
    color: rgb(2, 2, 2);
    background-color:  rgb(238, 237, 237);
}